# [dbo].[Admin]

In [0]:
/****** Object:  Table [dbo].[Admin]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[UserID] [varchar](10) NOT NULL,
	[UserPwd] [varchar](64) NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[UserEmail] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Announcements]

In [0]:
/****** Object:  Table [dbo].[Announcements]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[AnnouncementCode] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Kind] [nvarchar](50) NOT NULL,
	[DateStart] [datetime] NOT NULL,
	[DateEnd] [datetime] NOT NULL,
	[Contents] [nvarchar](500) NULL,
	[Pic] [nvarchar](30) NULL,
	[Files] [nvarchar](30) NULL,
 CONSTRAINT [PK__Announce__9126AD50C62EDAC9] PRIMARY KEY CLUSTERED 
(
	[AnnouncementCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Applications]

In [0]:
/****** Object:  Table [dbo].[Applications]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplyCode] [int] IDENTITY(1,1) NOT NULL,
	[ActivityName] [nvarchar](50) NOT NULL,
	[HouseholdCode] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Activities] [nvarchar](20) NOT NULL,
	[ReserveCode] [int] NULL,
	[DateStart] [datetime] NOT NULL,
	[DateEnd] [datetime] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[State] [int] NOT NULL,
	[Introduce] [nvarchar](500) NULL,
	[Image] [nvarchar](50) NULL,
	[Applicants] [int] NULL,
	[MaxApplicants] [int] NULL,
 CONSTRAINT [PK__Applicat__E76F63EAFB55CF45] PRIMARY KEY CLUSTERED 
(
	[ApplyCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[BlogPosts]

In [0]:
/****** Object:  Table [dbo].[BlogPosts]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPosts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Heading] [nvarchar](200) NOT NULL,
	[PageTitle] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](1500) NOT NULL,
	[ShortDescription] [nvarchar](500) NOT NULL,
	[FeacturedImageUrl] [nvarchar](500) NOT NULL,
	[UrlHandle] [nvarchar](500) NOT NULL,
	[PublishedDate] [datetime2](7) NOT NULL,
	[Author] [nvarchar](100) NOT NULL,
	[Visible] [bit] NOT NULL,
 CONSTRAINT [PK_BlogPosts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[BlogPostTag]

In [0]:
/****** Object:  Table [dbo].[BlogPostTag]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPostTag](
	[BlogPostsId] [int] NOT NULL,
	[TagsId] [int] NOT NULL,
 CONSTRAINT [PK_BlogPostTag] PRIMARY KEY CLUSTERED 
(
	[BlogPostsId] ASC,
	[TagsId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Community]

In [0]:
/****** Object:  Table [dbo].[Community]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Community](
	[CommunityId] [int] IDENTITY(1,1) NOT NULL,
	[CommunityName] [nvarchar](100) NOT NULL,
	[TotalUnits] [int] NOT NULL,
	[VerificationCode] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_Community] PRIMARY KEY CLUSTERED 
(
	[CommunityId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CommunityBuilding]

In [0]:
/****** Object:  Table [dbo].[CommunityBuilding]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommunityBuilding](
	[CommunityBuildingId] [int] IDENTITY(1,1) NOT NULL,
	[CommunityId] [int] NOT NULL,
	[BuildingName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CommunityBuilding] PRIMARY KEY CLUSTERED 
(
	[CommunityBuildingId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[PaymentItems]

In [0]:
/****** Object:  Table [dbo].[PaymentItems]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentItems](
	[PaymentItemCode] [int] IDENTITY(1,1) NOT NULL,
	[CommunityBuildingId] [int] NOT NULL,
	[ItemClassificationCode] [int] NOT NULL,
	[PaymentName] [nvarchar](20) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [int] NOT NULL,
	[Ispushed] [bit] NOT NULL,
	[Remark] [nvarchar](1000) NULL,
 CONSTRAINT [PK__PaymentI__AD77CD8708540BAA] PRIMARY KEY CLUSTERED 
(
	[PaymentItemCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[PaymentItemsName]

In [0]:
/****** Object:  Table [dbo].[PaymentItemsName]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentItemsName](
	[ItemClassificationCode] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__PaymentI__2973A7BA78E89F0C] PRIMARY KEY CLUSTERED 
(
	[ItemClassificationCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Payments]

In [0]:
/****** Object:  Table [dbo].[Payments]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentCode] [int] IDENTITY(1,1) NOT NULL,
	[HouseholdCode] [nvarchar](20) NOT NULL,
	[PayDay] [date] NOT NULL,
	[PaymentItemCode] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Paid] [bit] NOT NULL,
 CONSTRAINT [PK__Payments__106D3BA9FF1FF5DB] PRIMARY KEY CLUSTERED 
(
	[PaymentCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Periodoftime]

In [0]:
/****** Object:  Table [dbo].[Periodoftime]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periodoftime](
	[PeriodoftimeCode] [int] NOT NULL,
	[Periodoftime] [nvarchar](50) NULL,
 CONSTRAINT [PK_Periodoftime] PRIMARY KEY CLUSTERED 
(
	[PeriodoftimeCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[PublicSpaceDetail]

In [0]:
/****** Object:  Table [dbo].[PublicSpaceDetail]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicSpaceDetail](
	[PlaceCode] [int] IDENTITY(1,1) NOT NULL,
	[ID] [nvarchar](20) NOT NULL,
	[AreaCode] [nvarchar](20) NOT NULL,
	[PlaceName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__PublicSp__4742E30576E3AACA] PRIMARY KEY CLUSTERED 
(
	[PlaceCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Registrations]

In [0]:
/****** Object:  Table [dbo].[Registrations]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrations](
	[AutoCode] [int] IDENTITY(1,1) NOT NULL,
	[ApplyCode] [int] NOT NULL,
	[HouseholdCode] [nvarchar](20) NOT NULL,
	[NumberOfApplicants] [int] NOT NULL,
 CONSTRAINT [PK__Registra__B61EA5C902209FBD] PRIMARY KEY CLUSTERED 
(
	[AutoCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Repairs]

In [0]:
/****** Object:  Table [dbo].[Repairs]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repairs](
	[RepairCode] [int] IDENTITY(1,1) NOT NULL,
	[HouseholdCode] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
	[Time] [datetime] NULL,
	[ProcessingStatus] [nvarchar](50) NULL,
	[ManufacturerCode] [nvarchar](50) NULL,
	[Detail] [nvarchar](1000) NULL,
	[Pic] [nvarchar](200) NULL,
 CONSTRAINT [PK__Repairs__615611833F0BDDE2] PRIMARY KEY CLUSTERED 
(
	[RepairCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[ReservationPlaces]

In [0]:
/****** Object:  Table [dbo].[ReservationPlaces]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationPlaces](
	[Code] [int] IDENTITY(1,1) NOT NULL,
	[ReserveCode] [int] NOT NULL,
	[PlaceCode] [int] NOT NULL,
	[fDate] [date] NULL,
	[PeriodoftimeCode] [int] NULL,
 CONSTRAINT [PK__Reservat__A25C5AA6F6146789] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Reservations]

In [0]:
/****** Object:  Table [dbo].[Reservations]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReserveCode] [int] IDENTITY(1,1) NOT NULL,
	[HouseholdCode] [nvarchar](20) NOT NULL,
	[hName] [nvarchar](50) NOT NULL,
	[hPhone] [nvarchar](10) NOT NULL,
	[hEmail] [nvarchar](50) NOT NULL,
	[hState] [int] NULL,
 CONSTRAINT [PK__Reservat__2A06DE04E9BF889F] PRIMARY KEY CLUSTERED 
(
	[ReserveCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[ResidentManagers]

In [0]:
/****** Object:  Table [dbo].[ResidentManagers]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResidentManagers](
	[AdminCode] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](10) NULL,
	[Email] [nvarchar](50) NULL,
	[Account] [nvarchar](50) NULL,
	[Password] [nvarchar](1000) NULL,
	[Headshot] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ResidentManagers] PRIMARY KEY CLUSTERED 
(
	[AdminCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[ResidentRegister]

In [0]:
/****** Object:  Table [dbo].[ResidentRegister]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResidentRegister](
	[RegisterCode] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PersonID] [nvarchar](20) NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](1000) NULL,
	[Email] [nvarchar](50) NULL,
	[VerifyCode] [nvarchar](20) NOT NULL,
	[Hide] [nvarchar](30) NULL,
 CONSTRAINT [PK_ResidentRegister] PRIMARY KEY CLUSTERED 
(
	[RegisterCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Residents]

In [0]:
/****** Object:  Table [dbo].[Residents]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Residents](
	[HouseholdCode] [nvarchar](20) NOT NULL,
	[CommunityBuildingId] [int] NOT NULL,
	[FloorNumber] [int] NOT NULL,
	[UnitNumber] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[Headshot] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK__Resident__886067A472A02067] PRIMARY KEY CLUSTERED 
(
	[HouseholdCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Tags]

In [0]:
/****** Object:  Table [dbo].[Tags]    Script Date: 2023/9/8 上午 09:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Admin]

In [0]:
INSERT [dbo].[Admin] ([UserID], [UserPwd], [UserName], [UserEmail]) VALUES (N'breezela', N'09b0e059121e4852d238442c145e897070f74163507fba4ef34ed3583dd25ceb', N'楊鎧護', N'breezela423@gmail.com')
INSERT [dbo].[Admin] ([UserID], [UserPwd], [UserName], [UserEmail]) VALUES (N'mimi306', N'0ec99c7a680d77288d6398ad1c040f9e0fd0ed7ea9f6c7b4c9dae245d56734d3', N'李旻珊', N'leemin890306@gmail.com')
INSERT [dbo].[Admin] ([UserID], [UserPwd], [UserName], [UserEmail]) VALUES (N'RichKoung', N'049f563c5f2bf869c0f0603ee3acde2d8a0f77dbde52fcb5dc6fa7af2a478205', N'江寬育', N'RichKoung@gmail.com')
INSERT [dbo].[Admin] ([UserID], [UserPwd], [UserName], [UserEmail]) VALUES (N'XuanMeow', N'83cb72d7c3fcb2a360868438828b8e9109acee798a046a7126a4fb62f02477a5', N'黃盈瑄', N'XuanMeow@gmail.com')
GO

# [dbo].[Applications]

In [0]:
SET IDENTITY_INSERT [dbo].[Applications] ON 
INSERT [dbo].[Applications] ([ApplyCode], [ActivityName], [HouseholdCode], [Name], [Phone], [Activities], [ReserveCode], [DateStart], [DateEnd], [Email], [State], [Introduce], [Image], [Applicants], [MaxApplicants]) VALUES (1, N'打籃球', N'A101', N'楊小虎', N'0911888666', N'運動', 2, CAST(N'2023-08-28T00:05:00.000' AS DateTime), CAST(N'2023-08-28T02:01:00.000' AS DateTime), N'55@gg.com', 0, N'打籃球可以幫助身體發展，也有益身體健康。
不會沒關係，依照程度會分成初階及進階班。
可以從0開始打下基礎，也可以磨練自己技術。
一周至少訓練2次，給你最完整的教學。
讓籃球變成你的興趣之一！', N'籃球_20230906200055.jpg', 39, 40)
INSERT [dbo].[Applications] ([ApplyCode], [ActivityName], [HouseholdCode], [Name], [Phone], [Activities], [ReserveCode], [DateStart], [DateEnd], [Email], [State], [Introduce], [Image], [Applicants], [MaxApplicants]) VALUES (3, N'跳舞比賽', N'A101', N'里民山', N'0911852123', N'舞蹈', 1, CAST(N'2023-08-28T06:00:00.000' AS DateTime), CAST(N'2023-08-31T08:00:00.000' AS DateTime), N'33@gg.com', 0, N'早起來跳舞，迎接美好新一天', N'跳舞_20230906200119.jpg', 10, 100)
INSERT [dbo].[Applications] ([ApplyCode], [ActivityName], [HouseholdCode], [Name], [Phone], [Activities], [ReserveCode], [DateStart], [DateEnd], [Email], [State], [Introduce], [Image], [Applicants], [MaxApplicants]) VALUES (4, N'誰是歌手', N'A101', N'吳咻咻', N'0974102365', N'唱歌', 1, CAST(N'2023-08-30T08:29:00.000' AS DateTime), CAST(N'2023-08-30T08:29:00.000' AS DateTime), N'69@gg.com', 0, N'今年度金麥王會是誰呢?歡迎左鄰右舍相揪來報名', N'唱歌_20230906195612.jpg', 32, 100)
INSERT [dbo].[Applications] ([ApplyCode], [ActivityName], [HouseholdCode], [Name], [Phone], [Activities], [ReserveCode], [DateStart], [DateEnd], [Email], [State], [Introduce], [Image], [Applicants], [MaxApplicants]) VALUES (5, N'跑跑跑一起來慢跑', N'A101', N'黃萱萱', N'0919789123', N'運動', 1, CAST(N'2023-08-01T02:38:00.000' AS DateTime), CAST(N'2023-08-31T02:38:00.000' AS DateTime), N'66@gg.com', 0, N'跑跑跑向前跑', N'慢跑_20230906195649.jpg', 77, 200)
INSERT [dbo].[Applications] ([ApplyCode], [ActivityName], [HouseholdCode], [Name], [Phone], [Activities], [ReserveCode], [DateStart], [DateEnd], [Email], [State], [Introduce], [Image], [Applicants], [MaxApplicants]) VALUES (6, N'泳衣%', N'A101', N'江富裕', N'0996852741', N'休閒', 2, CAST(N'2023-09-08T11:07:00.000' AS DateTime), CAST(N'2023-09-11T11:07:00.000' AS DateTime), N'88@gg.com', 0, N'一起來%%%', N'游泳_20230906200148.jpg', 30, 30)
INSERT [dbo].[Applications] ([ApplyCode], [ActivityName], [HouseholdCode], [Name], [Phone], [Activities], [ReserveCode], [DateStart], [DateEnd], [Email], [State], [Introduce], [Image], [Applicants], [MaxApplicants]) VALUES (10, N'衝浪', N'A101', N'里民山', N'0911852123', N'運動', 2, CAST(N'2023-09-05T14:30:00.000' AS DateTime), CAST(N'2023-09-05T18:30:00.000' AS DateTime), N'33@gg.com', 0, N'大家來玩水~
清涼一下', N'衝浪活動_20230906195417.jpg', 5, 15)
INSERT [dbo].[Applications] ([ApplyCode], [ActivityName], [HouseholdCode], [Name], [Phone], [Activities], [ReserveCode], [DateStart], [DateEnd], [Email], [State], [Introduce], [Image], [Applicants], [MaxApplicants]) VALUES (14, N'棋靈王', N'A101', N'吳咻咻', N'0974102365', N'運動', 1, CAST(N'2023-09-05T16:20:00.000' AS DateTime), CAST(N'2023-09-05T21:20:00.000' AS DateTime), N'69@gg.com', 0, N'實在沒對手', N'下棋_20230906195738.jpg', 12, 30)
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO

# [dbo].[BlogPosts]

In [0]:
SET IDENTITY_INSERT [dbo].[BlogPosts] ON 
INSERT [dbo].[BlogPosts] ([Id], [Heading], [PageTitle], [Content], [ShortDescription], [FeacturedImageUrl], [UrlHandle], [PublishedDate], [Author], [Visible]) VALUES (1, N'社區歌王', N'Harmonious Voices Singing Contest', N'<p id="isPasted">精彩歌唱大賽，展現您的音樂才華！</p><p>歡迎所有年齡層參加，各類音樂風格皆可。</p><p>獎品豐富，名額有限，報名從速！</p><p>詳請請參閱活動報名頁面~</p><p>不容錯過的音樂盛宴，期待與您共享美妙音樂時光！<strong><span style="font-size: 18px; color: rgb(65, 168, 95);">♫</span><span style="font-size: 24px; color: rgb(251, 160, 38);">♬</span><span style="font-size: 30px; color: rgb(71, 85, 119);">♩</span></strong></p>', N'音樂的魔力將在這場歌唱大賽中綻放，讓我們一同創造難忘的音樂時刻！', N'https://res.cloudinary.com/dwdov2ta3/image/upload/v1693184054/1f7132d0-5e6a-11ed-b7bd-ba3b4a3aed4f_sclpal.jpg', N'Harmonious-Voices-Singing-Contest', CAST(N'2023-08-20T00:00:00.0000000' AS DateTime2), N'老李', 1)
INSERT [dbo].[BlogPosts] ([Id], [Heading], [PageTitle], [Content], [ShortDescription], [FeacturedImageUrl], [UrlHandle], [PublishedDate], [Author], [Visible]) VALUES (3, N'09/09登革熱消毒通知', N'Disinfection', N'<p id="isPasted">重要通知：為確保大家的健康，我們將進行登革熱蚊蟲的定期消毒工作。請大家配合封閉水桶、清理積水，並保持環境整潔。</p><p>消毒期間請遠離噴霧區域，並注意保護好您的家人，穿著適當的衣物。我們共同努力，防止蚊蟲孳生，守護家園的健康。</p><p>感謝您的合作與支持！如有疑問，請聯絡管委會。</p>', N'登革熱消毒通知', N'https://res.cloudinary.com/dwdov2ta3/image/upload/v1693194699/qmdlwhghp0k2zpjgkunj.jpg', N'Disinfection', CAST(N'2023-08-28T00:00:00.0000000' AS DateTime2), N'咻咻', 1)
SET IDENTITY_INSERT [dbo].[BlogPosts] OFF
GO

# [dbo].[BlogPostTag]

In [0]:
INSERT [dbo].[BlogPostTag] ([BlogPostsId], [TagsId]) VALUES (1, 2)
INSERT [dbo].[BlogPostTag] ([BlogPostsId], [TagsId]) VALUES (3, 1)
GO

# [dbo].[Community]

In [0]:
SET IDENTITY_INSERT [dbo].[Community] ON 
INSERT [dbo].[Community] ([CommunityId], [CommunityName], [TotalUnits], [VerificationCode], [Address]) VALUES (1, N'A', 150, N'mimi306', N'台南市')
SET IDENTITY_INSERT [dbo].[Community] OFF
GO

# [dbo].[CommunityBuilding]

In [0]:
SET IDENTITY_INSERT [dbo].[CommunityBuilding] ON 
INSERT [dbo].[CommunityBuilding] ([CommunityBuildingId], [CommunityId], [BuildingName]) VALUES (1, 1, N'A棟')
INSERT [dbo].[CommunityBuilding] ([CommunityBuildingId], [CommunityId], [BuildingName]) VALUES (4, 1, N'B棟')
INSERT [dbo].[CommunityBuilding] ([CommunityBuildingId], [CommunityId], [BuildingName]) VALUES (5, 1, N'C棟')
SET IDENTITY_INSERT [dbo].[CommunityBuilding] OFF
GO

# [dbo].[PaymentItems]

In [0]:
SET IDENTITY_INSERT [dbo].[PaymentItems] ON 
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (1, 1, 1, N'租金', CAST(N'2023-07-31T00:00:00.000' AS DateTime), 6000, 1, N'6月份租金')
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (2, 1, 2, N'管理費', CAST(N'2023-07-31T00:00:00.000' AS DateTime), 300, 1, N'6月份管理費')
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (3, 1, 1, N'租金', CAST(N'2021-11-02T00:00:00.000' AS DateTime), 6000, 1, N'八月房租')
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (4, 1, 2, N'管理費', CAST(N'2023-09-02T00:00:00.000' AS DateTime), 300, 1, N'八月管理費')
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (5, 1, 2, N'管理費', CAST(N'2023-09-15T00:00:00.000' AS DateTime), 300, 1, N'八月')
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (6, 1, 2, N'管理費', CAST(N'2022-01-01T00:00:00.000' AS DateTime), 300, 1, N'八月管理費')
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (7, 1, 1, N'租金', CAST(N'2023-09-14T00:00:00.000' AS DateTime), 0, 1, N'八月')
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (8, 1, 2, N'管理費', CAST(N'2023-09-13T00:00:00.000' AS DateTime), 2000, 1, N'八月房租')
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (9, 4, 2, N'管理費', CAST(N'2023-09-20T00:00:00.000' AS DateTime), 2000, 1, NULL)
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (10, 5, 1, N'租金', CAST(N'2023-09-06T00:00:00.000' AS DateTime), 6968, 1, N'69')
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (11, 1, 1, N'租金', CAST(N'2023-09-06T00:00:00.000' AS DateTime), 333, 1, N'ASDW')
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (12, 1, 1, N'租金', CAST(N'2023-09-14T00:00:00.000' AS DateTime), 6000, 1, N'AAAA')
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (13, 1, 1, N'租金', CAST(N'2023-09-20T00:00:00.000' AS DateTime), 9000, 1, N'八月房租')
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (16, 1, 1, N'租金', CAST(N'2023-09-13T00:00:00.000' AS DateTime), 6000, 0, N'???')
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (17, 1, 1, N'租金', CAST(N'2023-09-13T00:00:00.000' AS DateTime), 9999, 1, N'23')
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (18, 1, 1, N'租金', CAST(N'2023-09-17T00:00:00.000' AS DateTime), 10000, 1, N'AA456456')
INSERT [dbo].[PaymentItems] ([PaymentItemCode], [CommunityBuildingId], [ItemClassificationCode], [PaymentName], [Date], [Amount], [Ispushed], [Remark]) VALUES (19, 4, 1, N'租金', CAST(N'2023-10-11T00:00:00.000' AS DateTime), 20000, 1, N'11')
SET IDENTITY_INSERT [dbo].[PaymentItems] OFF
GO

# [dbo].[PaymentItemsName]

In [0]:
SET IDENTITY_INSERT [dbo].[PaymentItemsName] ON 
INSERT [dbo].[PaymentItemsName] ([ItemClassificationCode], [Name]) VALUES (1, N'租金')
INSERT [dbo].[PaymentItemsName] ([ItemClassificationCode], [Name]) VALUES (2, N'管理費')
SET IDENTITY_INSERT [dbo].[PaymentItemsName] OFF
GO

# [dbo].[Payments]

In [0]:
SET IDENTITY_INSERT [dbo].[Payments] ON 
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (1, N'A101', CAST(N'2023-08-19' AS Date), 1, 6000, 1)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (2, N'A102', CAST(N'2023-08-19' AS Date), 1, 6000, 1)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (3, N'A101', CAST(N'2023-08-19' AS Date), 2, 300, 0)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (4, N'A102', CAST(N'2023-08-19' AS Date), 2, 300, 0)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (6, N'A101', CAST(N'2023-08-28' AS Date), 12, 6000, 0)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (7, N'A102', CAST(N'2023-08-28' AS Date), 12, 6000, 0)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (8, N'A101', CAST(N'2023-08-28' AS Date), 13, 9000, 0)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (9, N'A102', CAST(N'2023-08-28' AS Date), 13, 9000, 0)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (10, N'A101', CAST(N'2023-08-28' AS Date), 17, 9999, 0)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (11, N'A102', CAST(N'2023-08-28' AS Date), 17, 9999, 0)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (12, N'A101', CAST(N'2023-08-28' AS Date), 18, 10000, 0)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (13, N'A102', CAST(N'2023-08-28' AS Date), 18, 10000, 0)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (14, N'B101', CAST(N'2023-09-07' AS Date), 19, 20000, 0)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (15, N'B102', CAST(N'2023-09-07' AS Date), 19, 20000, 0)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (16, N'B105', CAST(N'2023-09-07' AS Date), 19, 20000, 0)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (17, N'B106', CAST(N'2023-09-07' AS Date), 19, 20000, 0)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (18, N'B206', CAST(N'2023-09-07' AS Date), 19, 20000, 0)
INSERT [dbo].[Payments] ([PaymentCode], [HouseholdCode], [PayDay], [PaymentItemCode], [Amount], [Paid]) VALUES (19, N'B905', CAST(N'2023-09-07' AS Date), 19, 20000, 0)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO

# [dbo].[Periodoftime]

In [0]:
INSERT [dbo].[Periodoftime] ([PeriodoftimeCode], [Periodoftime]) VALUES (1, N'8~10')
INSERT [dbo].[Periodoftime] ([PeriodoftimeCode], [Periodoftime]) VALUES (2, N'10~12')
INSERT [dbo].[Periodoftime] ([PeriodoftimeCode], [Periodoftime]) VALUES (3, N'13~15')
INSERT [dbo].[Periodoftime] ([PeriodoftimeCode], [Periodoftime]) VALUES (4, N'15~17')
INSERT [dbo].[Periodoftime] ([PeriodoftimeCode], [Periodoftime]) VALUES (5, N'18~20')
INSERT [dbo].[Periodoftime] ([PeriodoftimeCode], [Periodoftime]) VALUES (6, N'20~22')
GO

# [dbo].[PublicSpaceDetail]

In [0]:
SET IDENTITY_INSERT [dbo].[PublicSpaceDetail] ON 
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (1, N'D10', N'A', N'游泳池')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (3, N'D09', N'A', N'射箭場')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (4, N'D08', N'A', N'桌球場A')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (5, N'D08', N'B', N'桌球場B')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (6, N'D08', N'C', N'桌球場C')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (7, N'D07', N'A', N'瑜珈室')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (8, N'D04', N'A', N'小型會議室A')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (9, N'D04', N'B', N'小型會議室B')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (10, N'D04', N'C', N'小型會議室C')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (13, N'D03', N'A', N'大型會議室A')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (14, N'D03', N'B', N'大型會議室B')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (15, N'D02', N'A', N'小型演講廳A')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (16, N'D02', N'B', N'小型演講廳B')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (17, N'D01', N'A', N'大型演講廳')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (18, N'D05', N'A', N'健身房')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (19, N'D00', N'A', N'籃球場')
INSERT [dbo].[PublicSpaceDetail] ([PlaceCode], [ID], [AreaCode], [PlaceName]) VALUES (20, N'D00', N'A', N'羽球場')
SET IDENTITY_INSERT [dbo].[PublicSpaceDetail] OFF
GO

# [dbo].[Repairs]

In [0]:
SET IDENTITY_INSERT [dbo].[Repairs] ON 
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (1, N'A101', N'王曉華', N'0912456789', N'裝修', CAST(N'2023-08-08T10:00:00.000' AS DateTime), N'未處理', N'就是要設計', N'test123', N'螢幕擷取畫面 2023-07-27 214508.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (2, N'B101', N'江盛鈺', N'0915923456', N'電梯', CAST(N'2023-08-03T08:06:00.000' AS DateTime), N'處理中', N'愛電梯公司', N'電梯故障
夭壽喔!', N'螢幕擷取畫面 2023-07-28 131934.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (3, N'A101', N'李俊廷', N'0978456123', N'水電', CAST(N'2023-07-10T11:10:00.000' AS DateTime), N'已完成', N'水電王', N'請師傅來家裡配電路~', N'螢幕擷取畫面 2023-08-02 225253.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (6, N'B101', N'江小小', N'0965123456', N'衛浴', CAST(N'2023-06-21T15:00:00.000' AS DateTime), N'未處理', NULL, N'換新衛浴!', N'螢幕擷取畫面 2023-08-02 225051.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (7, N'B101', N'江小小', N'0978456123', N'其它', CAST(N'2023-08-08T08:37:00.000' AS DateTime), N'已完成', NULL, N'test03', N'螢幕擷取畫面 2023-08-02 225051.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (8, N'B101', N'江孟祺', N'0912147218', N'其它', CAST(N'2023-08-08T09:29:00.000' AS DateTime), N'未處理', NULL, N'test02', N'螢幕擷取畫面 2023-08-02 225051.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (9, N'B101', N'江小美', N'0978456123', N'其它', CAST(N'2023-08-09T12:46:00.000' AS DateTime), N'處理中', NULL, N'test03', N'螢幕擷取畫面 2023-07-28 131322.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (29, N'A101', N'王曉華', N'0912456712', N'水電', CAST(N'2023-08-09T16:30:00.000' AS DateTime), N'未處理', N'就是要設計', N'請水電師傅來家裡檢查電路~', N'214508.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (30, N'A101', N'王曉華', N'0912456789', N'裝修', CAST(N'2023-08-08T10:00:00.000' AS DateTime), N'未處理', N'就是要設計', N'test123', N'c68948f7-2275-449b-8a1f-2d5c00a74343.jpg')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (32, N'B105', N'李俊廷', N'0978456123', N'水電', CAST(N'2023-07-10T11:10:00.000' AS DateTime), N'已完成', N'水電王', N'請師傅來家裡配電路~', N'9178a383-8a5c-4d81-a2fe-732beba3d138.jpg')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (33, N'A102', N'陳小美', N'0923678541', N'裝修', CAST(N'2023-08-17T14:30:00.000' AS DateTime), N'未處理', N'修修設計', N'需要更換地板', N'螢幕擷取畫面 2023-08-10 085712.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (34, N'B105', N'林明華', N'0987234561', N'電梯', CAST(N'2023-08-25T09:15:00.000' AS DateTime), N'處理中', N'升升電梯', N'異常噪音', NULL)
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (35, N'B101', N'張曉文', N'0912345678', N'水電', CAST(N'2023-08-18T13:20:00.000' AS DateTime), N'已完成', N'水電達人', N'修理漏水', N'螢幕擷取畫面 2023-08-05 192601.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (36, N'A101', N'王曉華', N'0912456789', N'裝修', CAST(N'2023-08-08T10:00:00.000' AS DateTime), N'未處理', N'就是要設計', N'test123', N'螢幕擷取畫面 2023-07-27 214508.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (37, N'A102', N'江盛鈺', N'0915923456', N'電梯', CAST(N'2023-08-03T08:06:00.000' AS DateTime), N'處理中', N'愛電梯公司', N'電梯故障\n夭壽喔!', N'螢幕擷取畫面 2023-07-28 131934.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (38, N'B101', N'李俊廷', N'0978456123', N'水電', CAST(N'2023-07-10T11:10:00.000' AS DateTime), N'已完成', N'水電王', N'請師傅來家裡配電路~', N'螢幕擷取畫面 2023-08-02 225253.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (39, N'B105', N'陳小美', N'0923678541', N'裝修', CAST(N'2023-08-17T14:30:00.000' AS DateTime), N'未處理', N'修修設計', N'需要更換地板', N'螢幕擷取畫面 2023-08-10 085712.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (40, N'B101', N'林明華', N'0987234561', N'電梯', CAST(N'2023-08-25T09:15:00.000' AS DateTime), N'處理中', N'升升電梯', N'異常噪音', NULL)
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (41, N'A102', N'張曉文', N'0912345678', N'水電', CAST(N'2023-08-18T13:20:00.000' AS DateTime), N'已完成', N'水電達人', N'修理漏水', N'螢幕擷取畫面 2023-08-05 192601.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (42, N'B101', N'陳大力', N'0938475621', N'電梯', CAST(N'2023-08-12T16:45:00.000' AS DateTime), N'未處理', N'電梯服務', N'卡卡卡卡卡卡', N'螢幕擷取畫面 2023-08-09 103801.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (43, N'B105', N'吳小美', N'0956781234', N'裝修', CAST(N'2023-08-20T11:30:00.000' AS DateTime), N'處理中', N'裝裝設計', N'門壞了', N'螢幕擷取畫面 2023-08-15 153219.png')
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (44, N'A102', N'林阿寶', N'0923457891', N'水電', CAST(N'2023-08-14T09:55:00.000' AS DateTime), N'已完成', N'水電達人', N'排水管堵塞', NULL)
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (57, N'B101', N'江小美', N'0954862456', N'裝修', CAST(N'2023-08-09T09:45:00.000' AS DateTime), N'未處理', NULL, NULL, NULL)
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (59, N'B101', N'江小美', N'0954862456', N'衛浴', CAST(N'2023-08-15T22:02:00.000' AS DateTime), N'未處理', NULL, NULL, NULL)
INSERT [dbo].[Repairs] ([RepairCode], [HouseholdCode], [Name], [Phone], [Type], [Time], [ProcessingStatus], [ManufacturerCode], [Detail], [Pic]) VALUES (67, N'B101', N'江孟祺', N'0923456789', N'裝修', CAST(N'2023-09-04T11:19:00.000' AS DateTime), N'未處理', NULL, N'家裡裝修', N'298bf8c5-e749-4eed-997f-3389864582f0.jpg')
SET IDENTITY_INSERT [dbo].[Repairs] OFF
GO

# [dbo].[ReservationPlaces]

In [0]:
SET IDENTITY_INSERT [dbo].[ReservationPlaces] ON 
INSERT [dbo].[ReservationPlaces] ([Code], [ReserveCode], [PlaceCode], [fDate], [PeriodoftimeCode]) VALUES (3, 1, 1, CAST(N'2023-09-07' AS Date), 1)
INSERT [dbo].[ReservationPlaces] ([Code], [ReserveCode], [PlaceCode], [fDate], [PeriodoftimeCode]) VALUES (5, 2, 8, CAST(N'2023-09-08' AS Date), 2)
INSERT [dbo].[ReservationPlaces] ([Code], [ReserveCode], [PlaceCode], [fDate], [PeriodoftimeCode]) VALUES (6, 11, 4, CAST(N'2023-09-10' AS Date), 3)
INSERT [dbo].[ReservationPlaces] ([Code], [ReserveCode], [PlaceCode], [fDate], [PeriodoftimeCode]) VALUES (8, 1, 5, CAST(N'2023-09-11' AS Date), 4)
INSERT [dbo].[ReservationPlaces] ([Code], [ReserveCode], [PlaceCode], [fDate], [PeriodoftimeCode]) VALUES (9, 16, 19, CAST(N'2023-09-19' AS Date), 5)
SET IDENTITY_INSERT [dbo].[ReservationPlaces] OFF
GO

# [dbo].[Reservations]

In [0]:
SET IDENTITY_INSERT [dbo].[Reservations] ON 
INSERT [dbo].[Reservations] ([ReserveCode], [HouseholdCode], [hName], [hPhone], [hEmail], [hState]) VALUES (1, N'A101', N'楊小虎', N'0977888999', N'yy@gg.com', 0)
INSERT [dbo].[Reservations] ([ReserveCode], [HouseholdCode], [hName], [hPhone], [hEmail], [hState]) VALUES (2, N'A102', N'李小珊', N'0999888777', N'33@gg.com', 0)
INSERT [dbo].[Reservations] ([ReserveCode], [HouseholdCode], [hName], [hPhone], [hEmail], [hState]) VALUES (11, N'B905', N'Showshow', N'0972967713', N'seaof@gmail.com', 0)
INSERT [dbo].[Reservations] ([ReserveCode], [HouseholdCode], [hName], [hPhone], [hEmail], [hState]) VALUES (13, N'A101', N'楊小虎', N'0977888999', N'yy@gg.com', 0)
INSERT [dbo].[Reservations] ([ReserveCode], [HouseholdCode], [hName], [hPhone], [hEmail], [hState]) VALUES (14, N'B105', N'嘿嘿嘿', N'0972696696', N'Sex@gmail.com', 0)
INSERT [dbo].[Reservations] ([ReserveCode], [HouseholdCode], [hName], [hPhone], [hEmail], [hState]) VALUES (15, N'B905', N'saisai', N'0929696696', N'saisai@gmail.com', 0)
INSERT [dbo].[Reservations] ([ReserveCode], [HouseholdCode], [hName], [hPhone], [hEmail], [hState]) VALUES (16, N'B905', N'saisai', N'0969696696', N'saisai@gmail.com', 0)
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO

# [dbo].[ResidentRegister]

In [0]:
SET IDENTITY_INSERT [dbo].[ResidentRegister] ON 
INSERT [dbo].[ResidentRegister] ([RegisterCode], [Name], [PersonID], [Phone], [Password], [Email], [VerifyCode], [Hide]) VALUES (1, N'Jack', N'N123456111', N'0988668111', N'ey2fj7ohi61', N'green577@gmail.com', N'SilentHouseQWQ', N'value')
INSERT [dbo].[ResidentRegister] ([RegisterCode], [Name], [PersonID], [Phone], [Password], [Email], [VerifyCode], [Hide]) VALUES (2, N'Mary', N'A228284539', N'0977528310', N'sy143rduk;h75hj27', N'qoo2540@gmail.com', N'SilentHouseQWQ', N'value')
INSERT [dbo].[ResidentRegister] ([RegisterCode], [Name], [PersonID], [Phone], [Password], [Email], [VerifyCode], [Hide]) VALUES (3, N'Han', N'E127412785', N'0966702510', N'7AH9cCVeqmYzH7IKFxKzxw==', N'kevimo1239.com', N'SilentHouseQWQ', N'value')
INSERT [dbo].[ResidentRegister] ([RegisterCode], [Name], [PersonID], [Phone], [Password], [Email], [VerifyCode], [Hide]) VALUES (4, N'Ken', N'E127782793', N'0997581111', N'Rcmm1AZacdvyFIDoMMRNnA==', N'syy666@gmail.com', N'SilentHouseQWQ', N'value')
INSERT [dbo].[ResidentRegister] ([RegisterCode], [Name], [PersonID], [Phone], [Password], [Email], [VerifyCode], [Hide]) VALUES (5, N'Jacky', N'A123456789', N'0978288510', N'AQAAAAIAAYagAAAAEMgJ1+cs1C+Lft6zQvb3RHVLLOo55ictMLRnhpVxMbnBHNmo5+L/LbrJ/5PH9hY1qA==', N'kevimo1239@com.tw', N'SilentHouseQWQ', N'value')
INSERT [dbo].[ResidentRegister] ([RegisterCode], [Name], [PersonID], [Phone], [Password], [Email], [VerifyCode], [Hide]) VALUES (6, N'Macky', N'N223456789', N'0979288651', N'UJJtobfUUUegerNt0TgjmQ==', N'kevimo1923@com.tw', N'SilentHouseQWQ', N'value')
INSERT [dbo].[ResidentRegister] ([RegisterCode], [Name], [PersonID], [Phone], [Password], [Email], [VerifyCode], [Hide]) VALUES (7, N'Macky', N'N223456789', N'0979288651', N'UJJtobfUUUegerNt0TgjmQ==', N'kevimo1923@com.tw', N'SilentHouseQWQ', N'value')
INSERT [dbo].[ResidentRegister] ([RegisterCode], [Name], [PersonID], [Phone], [Password], [Email], [VerifyCode], [Hide]) VALUES (8, N'Qacky', N'N226666666', N'0988863333', N'9DrOlK0zqoyaB17YRdyXMQ==', N'qwq@gmail.com', N'SilentHouseQWQ', N'value')
INSERT [dbo].[ResidentRegister] ([RegisterCode], [Name], [PersonID], [Phone], [Password], [Email], [VerifyCode], [Hide]) VALUES (9, N'Pika', N'N226666888', N'0972071780', N'G6FLyPd33+BNIwClicAuWA==', N'ouo520@gmail.com', N'SilentHouseQWQ', N'value')
INSERT [dbo].[ResidentRegister] ([RegisterCode], [Name], [PersonID], [Phone], [Password], [Email], [VerifyCode], [Hide]) VALUES (11, N'Boo', N'N126991233', N'0966666666', N'xuxOUJT9ZXdB+1A9dAAbvg==', N'boo@gmail.com', N'SilentHouseQWQ', N'value')
SET IDENTITY_INSERT [dbo].[ResidentRegister] OFF
GO

# [dbo].[Residents]

In [0]:
INSERT [dbo].[Residents] ([HouseholdCode], [CommunityBuildingId], [FloorNumber], [UnitNumber], [Name], [Phone], [Email], [Password], [Headshot]) VALUES (N'A101', 1, 1, 1, N'Kevin', N'0989875181', N'awd21@awdmail', N'21321da2', N'2wd.dga')
INSERT [dbo].[Residents] ([HouseholdCode], [CommunityBuildingId], [FloorNumber], [UnitNumber], [Name], [Phone], [Email], [Password], [Headshot]) VALUES (N'A102', 1, 1, 2, N'Tom', N'0999988844', N'asd@hgaga.com', N'213djhtrh', N'fadw.jpg')
INSERT [dbo].[Residents] ([HouseholdCode], [CommunityBuildingId], [FloorNumber], [UnitNumber], [Name], [Phone], [Email], [Password], [Headshot]) VALUES (N'A104', 1, 1, 4, N'Pika', N'0972071780', N'ouo520@gmail.com', N'G6FLyPd33+BNIwClicAuWA==', N'love.jpg')
INSERT [dbo].[Residents] ([HouseholdCode], [CommunityBuildingId], [FloorNumber], [UnitNumber], [Name], [Phone], [Email], [Password], [Headshot]) VALUES (N'B101', 4, 1, 1, N'Jack', N'0972645789', N'qqq@gmail.com', N'egn123', N'3.jpg')
INSERT [dbo].[Residents] ([HouseholdCode], [CommunityBuildingId], [FloorNumber], [UnitNumber], [Name], [Phone], [Email], [Password], [Headshot]) VALUES (N'B102', 4, 1, 2, N'Ken', N'0997581111', N'syy666@gmail.com', N'Rcmm1AZacdvyFIDoMMRNnA==', N'0829.jpg')
INSERT [dbo].[Residents] ([HouseholdCode], [CommunityBuildingId], [FloorNumber], [UnitNumber], [Name], [Phone], [Email], [Password], [Headshot]) VALUES (N'B105', 4, 1, 5, N'Hentai', N'0966702510', N'kevimo1239.com', N'7AH9cCVeqmYzH7IKFxKzxw==', N'5.jpg')
INSERT [dbo].[Residents] ([HouseholdCode], [CommunityBuildingId], [FloorNumber], [UnitNumber], [Name], [Phone], [Email], [Password], [Headshot]) VALUES (N'B106', 4, 1, 6, N'Qacky', N'N226666666', N'qwq@gmail.com', N'9DrOlK0zqoyaB17YRdyXMQ==', N'head.jpg')
INSERT [dbo].[Residents] ([HouseholdCode], [CommunityBuildingId], [FloorNumber], [UnitNumber], [Name], [Phone], [Email], [Password], [Headshot]) VALUES (N'B206', 4, 2, 6, N'Money', N'0979288651', N'kevimo1923@com.tw', N'UJJtobfUUUegerNt0TgjmQ==', N'11.jpg')
INSERT [dbo].[Residents] ([HouseholdCode], [CommunityBuildingId], [FloorNumber], [UnitNumber], [Name], [Phone], [Email], [Password], [Headshot]) VALUES (N'B905', 4, 9, 5, N'Showshow', N'0972967713', N'seaof@gmail.com', N'6969', N'4.jpg')
GO

# [dbo].[Tags]

In [0]:
SET IDENTITY_INSERT [dbo].[Tags] ON 
INSERT [dbo].[Tags] ([Id], [Name], [DisplayName]) VALUES (1, N'Important Notice', N'重要公告')
INSERT [dbo].[Tags] ([Id], [Name], [DisplayName]) VALUES (2, N'NOTICES OF ACTIVITIES', N'活動公告')
INSERT [dbo].[Tags] ([Id], [Name], [DisplayName]) VALUES (3, N'Book club', N'讀書會')
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO

# [FK__Applicati__House__4316F928]

In [0]:
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK__Applicati__House__4316F928] FOREIGN KEY([HouseholdCode])
REFERENCES [dbo].[Residents] ([HouseholdCode])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK__Applicati__House__4316F928]
GO

# [FK__Applicati__Reser__440B1D61]

In [0]:
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK__Applicati__Reser__440B1D61] FOREIGN KEY([ReserveCode])
REFERENCES [dbo].[Reservations] ([ReserveCode])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK__Applicati__Reser__440B1D61]
GO

# [FK_BlogPostTag_BlogPosts_BlogPostsId]

In [0]:
ALTER TABLE [dbo].[BlogPostTag]  WITH CHECK ADD  CONSTRAINT [FK_BlogPostTag_BlogPosts_BlogPostsId] FOREIGN KEY([BlogPostsId])
REFERENCES [dbo].[BlogPosts] ([Id])
GO
ALTER TABLE [dbo].[BlogPostTag] CHECK CONSTRAINT [FK_BlogPostTag_BlogPosts_BlogPostsId]
GO

# [FK_BlogPostTag_Tags_TagsId]

In [0]:
ALTER TABLE [dbo].[BlogPostTag]  WITH CHECK ADD  CONSTRAINT [FK_BlogPostTag_Tags_TagsId] FOREIGN KEY([TagsId])
REFERENCES [dbo].[Tags] ([Id])
GO
ALTER TABLE [dbo].[BlogPostTag] CHECK CONSTRAINT [FK_BlogPostTag_Tags_TagsId]
GO

# [FK_CommunityBuilding_Community]

In [0]:
ALTER TABLE [dbo].[CommunityBuilding]  WITH CHECK ADD  CONSTRAINT [FK_CommunityBuilding_Community] FOREIGN KEY([CommunityId])
REFERENCES [dbo].[Community] ([CommunityId])
GO
ALTER TABLE [dbo].[CommunityBuilding] CHECK CONSTRAINT [FK_CommunityBuilding_Community]
GO

# [FK__PaymentIt__ItemC__59FA5E80]

In [0]:
ALTER TABLE [dbo].[PaymentItems]  WITH CHECK ADD  CONSTRAINT [FK__PaymentIt__ItemC__59FA5E80] FOREIGN KEY([ItemClassificationCode])
REFERENCES [dbo].[PaymentItemsName] ([ItemClassificationCode])
GO
ALTER TABLE [dbo].[PaymentItems] CHECK CONSTRAINT [FK__PaymentIt__ItemC__59FA5E80]
GO

# [FK__Payments__Househ__5535A963]

In [0]:
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK__Payments__Househ__5535A963] FOREIGN KEY([HouseholdCode])
REFERENCES [dbo].[Residents] ([HouseholdCode])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK__Payments__Househ__5535A963]
GO

# [FK_Payments_PaymentItems]

In [0]:
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_PaymentItems] FOREIGN KEY([PaymentItemCode])
REFERENCES [dbo].[PaymentItems] ([PaymentItemCode])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_PaymentItems]
GO

# [FK__Registrat__Apply__4F7CD00D]

In [0]:
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD  CONSTRAINT [FK__Registrat__Apply__4F7CD00D] FOREIGN KEY([ApplyCode])
REFERENCES [dbo].[Applications] ([ApplyCode])
GO
ALTER TABLE [dbo].[Registrations] CHECK CONSTRAINT [FK__Registrat__Apply__4F7CD00D]
GO

# [FK__Registrat__House__5070F446]

In [0]:
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD  CONSTRAINT [FK__Registrat__House__5070F446] FOREIGN KEY([HouseholdCode])
REFERENCES [dbo].[Residents] ([HouseholdCode])
GO
ALTER TABLE [dbo].[Registrations] CHECK CONSTRAINT [FK__Registrat__House__5070F446]
GO

# [FK__Repairs__Househo__398D8EEE]

In [0]:
ALTER TABLE [dbo].[Repairs]  WITH CHECK ADD  CONSTRAINT [FK__Repairs__Househo__398D8EEE] FOREIGN KEY([HouseholdCode])
REFERENCES [dbo].[Residents] ([HouseholdCode])
GO
ALTER TABLE [dbo].[Repairs] CHECK CONSTRAINT [FK__Repairs__Househo__398D8EEE]
GO

# [FK__Reservati__Place__4BAC3F29]

In [0]:
ALTER TABLE [dbo].[ReservationPlaces]  WITH CHECK ADD  CONSTRAINT [FK__Reservati__Place__4BAC3F29] FOREIGN KEY([PlaceCode])
REFERENCES [dbo].[PublicSpaceDetail] ([PlaceCode])
GO
ALTER TABLE [dbo].[ReservationPlaces] CHECK CONSTRAINT [FK__Reservati__Place__4BAC3F29]
GO

# [FK__Reservati__Reser__4AB81AF0]

In [0]:
ALTER TABLE [dbo].[ReservationPlaces]  WITH CHECK ADD  CONSTRAINT [FK__Reservati__Reser__4AB81AF0] FOREIGN KEY([ReserveCode])
REFERENCES [dbo].[Reservations] ([ReserveCode])
GO
ALTER TABLE [dbo].[ReservationPlaces] CHECK CONSTRAINT [FK__Reservati__Reser__4AB81AF0]
GO

# [FK_ReservationPlaces_Periodoftime]

In [0]:
ALTER TABLE [dbo].[ReservationPlaces]  WITH CHECK ADD  CONSTRAINT [FK_ReservationPlaces_Periodoftime] FOREIGN KEY([PeriodoftimeCode])
REFERENCES [dbo].[Periodoftime] ([PeriodoftimeCode])
GO
ALTER TABLE [dbo].[ReservationPlaces] CHECK CONSTRAINT [FK_ReservationPlaces_Periodoftime]
GO

# [FK__Reservati__House__403A8C7D]

In [0]:
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK__Reservati__House__403A8C7D] FOREIGN KEY([HouseholdCode])
REFERENCES [dbo].[Residents] ([HouseholdCode])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK__Reservati__House__403A8C7D]
GO

# [FK_Residents_CommunityBuilding]

In [0]:
ALTER TABLE [dbo].[Residents]  WITH CHECK ADD  CONSTRAINT [FK_Residents_CommunityBuilding] FOREIGN KEY([CommunityBuildingId])
REFERENCES [dbo].[CommunityBuilding] ([CommunityBuildingId])
GO
ALTER TABLE [dbo].[Residents] CHECK CONSTRAINT [FK_Residents_CommunityBuilding]
GO